<div class="container">
  <div class="card no-border shadow padding-top-bottom-md">
    <div class="card-body">
      <h4 class="user-recover-text mb-4 font-weight-normal">
        {{ 'user.recoverPassword' | translate }}
        <i class="fas fa-info-circle text-blue"
           placement="top"
           ngbTooltip="{{ 'user.emailIsUsername' | translate }}"
           tooltipClass="primary-tooltip"></i>
      </h4>
      <form #recoverForm="ngForm" (keyup.enter)="recoverForm.invalid? null : recover()">
        <div class="row">
          <div class="form-group col-sm-4 offset-sm-4 mt-2">
            <input type="text"
                   placeholder="{{ 'user.email' | translate }}"
                   [(ngModel)]="username"
                   class="form-control"
                   emailValidation
                   name="username" />
          </div>

          <div class="col-sm-4 offset-sm-4 mt-3">
            <sync-button [click]="recover"
                         [clickContext]="this"
                         text="user.recover"
                         btnClass="btn btn-primary w-100"
                         [showTextOnPending]="false"
                         [disabled]="recoverForm.invalid">
            </sync-button>
          </div>

          <div class="col-sm-4 offset-sm-4 mt-3 return-to-login">
            <a [routerLink]="['/login']">{{ 'user.returnToLogin' | translate }}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>