.vs/*
.vs/*/**

**/bin
**/obj
**/Log

*.tmp
*.suo
*.csproj.user
*.exe

Server/.vs/**
Server/wwwroot/**

Deployment/build/**
Deployment/package/**

NacidRdpzsd2Migration/.vs/**

RdpzsdPublic.WebApplication/node_modules/*
RdpzsdPublic.WebApplication/dist/*