<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand text-white"
       href="https://nacid.bg/bg/"
       target="_blank">
      <img src="../../../assets/img/nacid_logo_light.png"
           width="40"
           height="45"
           class="d-inline-block align-text-top">
      <div class="d-inline-block align-text-top ms-2">
        <h5 class="nacid-text">{{ 'root.header.nacidShort' | translate }}</h5>
        <h6>{{ 'root.header.rdpzsd' | translate }}</h6>
      </div>
    </a>
  </div>

  <!-- <language-button></language-button> -->
</nav>