<div class="container">
    <div class="d-flex align-items-center">
        <span class="fas fa-info-circle text-blue fa-2x"></span>
        <span class="ms-2 fs-18 fw-700 mt-1">{{ 'rdpzsd.searchMenu.newInfo' | translate }}</span>
    </div>

    <div class="card no-border shadow mt-4">
        <div class="card-body">
            <div class="mb-4">
                <button type="button"
                        class="btn"
                        (click)="changeFilterType(personLotNewFilterType.identificationNumber)"
                        [ngClass]="{'btn-primary': filter.filterType === personLotNewFilterType.identificationNumber, 'btn-outline-primary' : filter.filterType === personLotNewFilterType.birthPlace }">
                    {{ 'enums.personLotNewFilterType.identificationNumber' | translate }}
                </button>
                <button type="button"
                        class="btn ms-2"
                        (click)="changeFilterType(personLotNewFilterType.birthPlace)"
                        [ngClass]="{'btn-primary': filter.filterType === personLotNewFilterType.birthPlace, 'btn-outline-primary' : filter.filterType === personLotNewFilterType.identificationNumber }">
                    {{ 'enums.personLotNewFilterType.birthPlace' | translate }}
                </button>
            </div>

            <form #searchForm="ngForm"
                  autocomplete="off">
                <div>
                    <div class="row g-3">
                        <div class="col-md-3"
                             *ngIf="filter.filterType === personLotNewFilterType.identificationNumber">
                            <label for="uan"
                                   class="form-label fs-14">{{ 'rdpzsd.personLot.uanShort' | translate }}</label>
                            <input type="text"
                                   class="form-control form-control-sm"
                                   [(ngModel)]="filter.uan"
                                   [disabled]="disableUan"
                                   (ngModelChange)="checkInputs(); filter.uan = $event.toUpperCase()"
                                   id="uan"
                                   uanValidation
                                   name="uan"
                                   minlength=7
                                   maxlength=7>
                        </div>

                        <div class="col-md-3"
                             *ngIf="filter.filterType === personLotNewFilterType.identificationNumber">
                            <label for="uin"
                                   class="form-label fs-14">{{ 'rdpzsd.personBasic.uin' | translate }}</label>
                            <input type="text"
                                   class="form-control form-control-sm"
                                   [(ngModel)]="filter.uin"
                                   [disabled]="disableUin"
                                   (ngModelChange)="checkInputs()"
                                   id="uin"
                                   name="uin"
                                   numbersOnly
                                   maxlength="10"
                                   minlength="10"
                                   uinValidation
                                   [enableEmptyValidation]="true">
                        </div>

                        <div class="col-md-3"
                             *ngIf="filter.filterType === personLotNewFilterType.identificationNumber">
                            <label for="foreignerNumber"
                                   class="form-label fs-14">{{ 'rdpzsd.personBasic.foreignerNumber' | translate
                                }}</label>
                            <input type="text"
                                   class="form-control form-control-sm"
                                   [(ngModel)]="filter.foreignerNumber"
                                   [disabled]="disableFn"
                                   (ngModelChange)="checkInputs()"
                                   id="foreignerNumber"
                                   numbersOnly
                                   maxlength="10"
                                   minlength="10"
                                   name="foreignerNumber"
                                   foreignerNumberValidation
                                   [enableEmptyValidation]="true">
                        </div>

                        <div class="col-md-3"
                             *ngIf="filter.filterType === personLotNewFilterType.birthPlace">
                            <label class="form-label fs-14">{{ 'rdpzsd.personBasic.birthDate' | translate }}</label>
                            <invalid-field [element]="birthDate"
                                           text="invalidFields.birthDate"></invalid-field>
                            <date-time [(ngModel)]="filter.birthDate"
                                       name="birthDate"
                                       inputGroupClass=""
                                       btnClass="btn-primary btn-sm ms-3"
                                       clearSelectionClass="clear-selection-55"
                                       #birthDate="ngModel"
                                       [formControlClass]="birthDate.invalid && birthDate.value === null ? 'form-control form-control-sm form-control-invalid-static' : 'form-control form-control-sm'"
                                       [isBirthDate]="true"
                                       [required]="true"></date-time>
                        </div>

                        <div class="col-md-3"
                             *ngIf="filter.filterType === personLotNewFilterType.birthPlace">
                            <label class="form-label fs-14">{{ 'rdpzsd.personBasic.birthPlace' | translate }}</label>
                            <nomenclature-select restUrl="Nomenclature/Country"
                                                 name="birthCountry"
                                                 [(ngModel)]="filter.birthCountry"
                                                 [filter]="{excludeCode: 'BG'}"
                                                 textTemplate="{{translateService.currentLang === 'bg' ? '{name}' : '{nameAlt}'}}"
                                                 (keyPropertyChange)="filter.birthCountryId = $event"
                                                 [required]="true">
                            </nomenclature-select>
                        </div>

                        <div class="col-md-3 d-flex align-items-end">
                            <sync-button btnClass="btn btn-primary btn-sm"
                                         [disabled]="searchForm.invalid 
                            || (filter.filterType === personLotNewFilterType.identificationNumber && (!filter.uan && !filter.uin && !filter.foreignerNumber))"
                                         text="root.buttons.search"
                                         [click]="getData"
                                         [clickParams]="[false, false, false]"
                                         [clickContext]="this"
                                         icon="fas fa-search">
                            </sync-button>

                            <sync-button btnClass="btn btn-outline-primary btn-sm ms-3"
                                         text="root.buttons.clear"
                                         [click]="clear"
                                         [clickContext]="this"
                                         icon="fas fa-trash">
                            </sync-button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="d-flex mt-4 justify-content-start">
                <sync-button btnClass="btn btn-outline-success btn-sm"
                             text="root.buttons.excel"
                             [click]="export"
                             [disabled]="!searchResult.result.length"
                             [clickContext]="this"
                             icon="fas fa-download">
                </sync-button>

                <button *ngIf="searchResult.result.length > 0"
                        class="btn btn-primary btn-sm ms-3"
                        (click)="getDataCount()">
                    <i style="min-width: 15px" [ngClass]="[loadingDataCount ? 'fas fa-sync fa-spin' : 'fas fa-info']"></i>
                </button>

                <a *ngIf="!dataCount && searchResult.result?.length > 0 && !loadingDataCount" 
                        [routerLink]="" 
                        class="no-text-decoration cursor-pointer fs-18 ms-2 mt-p2" 
                        (click)="getDataCount()">
                    {{ 'root.results.number' | translate }} {{ 'root.results.records' | translate }}
                </a>

                <div *ngIf="dataCount != null"
                     class="d-flex align-items-center ms-2">
                    <label class="fs-18">
                      <span *ngIf="!loadingData">
                        {{ 'root.results.total' | translate }} {{dataCount | formatNumber}}
                        {{ 'root.results.records' | translate }}
                      </span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="searched && (!searchResult.result.length || (filter.birthCountryId && filter.birthDate))"
         class="mt-5 ms-2">
        <b *ngIf="!searchResult.result.length"
           class="me-1">{{ 'rdpzsd.new.noResults' | translate }}</b>
        <u *ngIf="filter.uin || filter.foreignerNumber || (filter.birthCountryId && filter.birthDate)"
           class="link-primary cursor-pointer fw-bold"
           (click)="createInitialLot()">{{ 'rdpzsd.searchMenu.createNew' | translate }}</u>
    </div>

    <loading-section *ngIf="loadingData"></loading-section>

    <div *ngIf="!loadingData && searchResult.result && searchResult.result.length > 0"
         class="table-scrollable">
        <table class="table table-bordered mt-4">
            <thead class="table-light">
                <tr>
                    <th class="col-1">{{ 'rdpzsd.personLot.uanShort' | translate }}</th>
                    <th class="col-3">{{ 'rdpzsd.searchMenu.person' | translate }}</th>
                    <th class="col-3">{{ 'rdpzsd.searchMenu.birthCountryAndCitizenship' | translate}}</th>
                    <th class="col-4">{{ 'rdpzsd.personLot.state' | translate }}</th>
                    <th class="col-1 center-text-th">
                        {{ 'root.results.actions' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of searchResult.result"
                    [class.bc-yellow]="person?.state === lotState.cancelApproval || person?.state === lotState.missingPassportCopy"
                    [class.bc-lightcoral]="person?.state === lotState.erased">
                    <td>
                        <b
                           *ngIf="person.state !== lotState.cancelApproval && person.state !== lotState.pendingApproval && person.state !== lotState.missingPassportCopy">
                            {{ person.uan }}
                        </b>
                    </td>
                    <td>
                        <div *ngIf="person.uin">
                            {{ 'rdpzsd.personBasic.uin' | translate }}: {{ person.uin }}
                        </div>

                        <div *ngIf="person.foreignerNumber">
                            {{ 'rdpzsd.personBasic.foreignerNumber' | translate}}: {{ person.foreignerNumber }}
                        </div>

                        <div *ngIf="person.personIdn">
                            {{ 'rdpzsd.personBasic.idn' | translate }}: {{ person.personIdn }}
                        </div>

                        <div>
                            {{ person.fullName }} <span ></span>
                        </div>
                        <div *ngIf="filter.filterType === personLotNewFilterType.birthPlace">
                            {{ person.fullNameAlt }}
                        </div>
                        <!-- <div *ngIf="person.email">
                            <a href="mailto:{{person.email}}">{{person.email}}</a>
                            <span *ngIf="person.phoneNumber">, тел.: {{person.phoneNumber}}</span>
                        </div> -->
                    </td>
                    <td>
                        <div *ngIf="person.birthCountry">
                            {{ person.birthDate | date: 'dd.MM.yyyy'}}, <span
                                  *ngIf="person.birthSettlement">{{translateService.currentLang === 'bg' ?
                                person.birthSettlement?.name : person.birthSettlement?.nameAlt}}, </span>
                            {{translateService.currentLang === 'bg' ? person.birthCountry.name :
                            person.birthCountry.nameAlt}}
                        </div>
                        <div *ngIf="person.citizenship">
                            {{translateService.currentLang === 'bg' ? person.citizenship.name :
                            person.citizenship.nameAlt}}
                            <span *ngIf="person.secondCitizenship">, {{translateService.currentLang === 'bg' ?
                                person.secondCitizenship.name : person.secondCitizenship.nameAlt}}
                            </span>
                        </div>
                    </td>
                    <td>
                        <div
                             *ngIf="(person?.state !== lotState.pendingApproval && person?.state !== lotState.cancelApproval && person?.state !== lotState.missingPassportCopy) && !person?.hasSpeciality">
                            Без специалност</div>
                        <div
                             *ngIf="(person?.state !== lotState.pendingApproval && person?.state !== lotState.cancelApproval && person?.state !== lotState.missingPassportCopy) && person?.hasSpeciality">
                            <div *ngFor="let personSemester of person?.personSemesters">
                                <span
                                    [ngClass]="{'text-red': personSemester.studentStatus.alias === studentStatusInterrupted,
                                                  'text-green': personSemester.studentStatus.alias === studentStatusActive}">
                                {{translateService.currentLang === 'bg' ? personSemester.studentStatus?.name?.toLowerCase() 
                                : personSemester.studentStatus?.nameAlt?.toLowerCase()}},
                                </span>
                                <span>{{translateService.currentLang === 'bg' ? personSemester.institution?.shortName : personSemester.institution?.shortNameAlt}} - </span>
                                <span>{{translateService.currentLang === 'bg' ? personSemester?.institutionSpeciality?.speciality?.name : personSemester?.institutionSpeciality?.speciality?.nameAlt}}</span>
                            </div>
                        </div>
                        <div *ngIf="(person?.state !== lotState.pendingApproval && person?.state !== lotState.cancelApproval && person?.state !== lotState.missingPassportCopy) && !person?.hasSecondary"
                             class="text-red">{{ 'rdpzsd.personSecondary.missingSecondary' | translate }}</div>
                        <div
                             *ngIf="person?.state === lotState.pendingApproval || person?.state === lotState.cancelApproval || person?.state === lotState.missingPassportCopy">
                            <span
                                  [ngClass]="{'text-red': person?.state === lotState.cancelApproval || person?.state === lotState.missingPassportCopy} ">
                                {{ 'enums.lotState.' + lotState[person?.state] | translate }}
                            </span>
                        </div>
                    </td>
                    <td class="center-text-td">
                        <sync-button btnClass="btn btn-primary btn-sm"
                                     [click]="getPersonLot"
                                     [clickContext]="this"
                                     [clickParams]="[person.uan]"
                                     text="root.buttons.choose">
                        </sync-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!searched
        && !loadingData
        && searchResult.result 
        && searchResult.result.length > 0 && searchResult.result.length === filter.limit"
         class="d-flex flex-row-reverse mt-2">
        <div class="btn-group">
            <sync-button btnClass="btn btn-primary"
                         text="root.buttons.loadMore"
                         [click]="getData"
                         [clickContext]="this"
                         [clickParams]="[true, true, false]">
            </sync-button>
        </div>
    </div>
</div>